{% set backup_creds = hetzner_backup_creds[hetzner_backup_host] %}
connect sftp://{{backup_creds.hostname}}/ -u {{backup_creds.username}},{{backup_creds.password}}
mirror --reverse --delete --only-newer /root/{{backup_directory}}/ /{{ansible_hostname}}-backups
